################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRM.API/.vs/CRM.API
/CRM.API/CRM.API/obj
/CRM.API/CRM.Domain/obj
/CRM.API/CRM.Infrastructure/obj
/CRM.API/CRM.Services/obj
