################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/crm-app/node_modules
/CRM.API
